# Prerequisites
*.d

/.vs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/out/build/x64-debug/Testing/Temporary/LastTest.log
/.idea
/out/build/x64-debug/.cmake
/out/build/x64-debug/.cmake
out/build/x64-debug/.ninja_deps
out/build/x64-debug/.ninja_log
/out/build/x64-debug/CMakeFiles
/out/build/x64-debug/CMakeFiles
/out/build/x64-debug/matplotplusplus
/out/build/x64-debug/pybind11
/out/build/x64-debug/Testing
/out/build/x64-debug/.cmake
/out/build/x64-debug/.cmake
/out/build/x64-debug/CMakeFiles
/out/build/x64-debug/matplotplusplus
/out/build/x64-debug/pybind11
/out/build/x64-debug/.cmake
